<div class="card">
  <div class="card-body">
    <h5 class="card-title">Teams</h5>
    <h6 class="card-subtitle mb-2 text-muted">Available Teams in SMUI</h6>

    <ul *ngFor="let team of teams" class="list-group smui-search-input-list">
        <li class="list-group-item">
          {{ team.name }}

          <a
            class="btn btn-primary btn-sm float-right"
            [routerLink]="['/admin/suggested-fields/', team.id.toUpperCase()]"
          >Configure</a>

          <button
            type="button"
            class="btn btn-danger btn-sm float-right"
            (click)="deleteTeam(team.id, $event)"
          >
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </li>
    </ul>
  </div>
</div>
