
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem *ngIf="isAdminUser">
    <a ngbNavLink>Teams</a>
    <ng-template ngbNavContent>

      <app-smui-admin-teams-create
        (showSuccessMsg)="showSuccessMsg($event)"
        (showErrorMsg)="showErrorMsg($event)"
        (teamsChange)="teamsChange()"
      >
      </app-smui-admin-teams-create>

      <app-smui-admin-teams-list
        (showSuccessMsg)="showSuccessMsg($event)"
        (showErrorMsg)="showErrorMsg($event)"
        (openDeleteConfirmModal)="openDeleteConfirmModal($event)"
        (teamsChange)="teamsChange"
        [teams]="teams"
        [adminSolrIndices]="adminSolrIndices"
      >
      </app-smui-admin-teams-list>

    </ng-template>
  </li>
  <li ngbNavItem *ngIf="isAdminUser">
    <a ngbNavLink>Users</a>
    <ng-template ngbNavContent>
      <app-smui-admin-users-create
        (showSuccessMsg)="showSuccessMsg($event)"
        (showErrorMsg)="showErrorMsg($event)"
        (usersChange)="usersChange()"
      >
      </app-smui-admin-users-create>

      <app-smui-admin-users-list
        (showSuccessMsg)="showSuccessMsg($event)"
        (showErrorMsg)="showErrorMsg($event)"
        (openDeleteConfirmModal)="openDeleteConfirmModal($event)"
        (usersChange)="usersChange"
        [users]="users"
      >
      </app-smui-admin-users-list>
    </ng-template>
  </li>
  <li ngbNavItem *ngIf="isAdminUser">
    <a ngbNavLink>Rules Collections</a>
    <ng-template ngbNavContent>
      <app-smui-admin-rules-collection-create
        (showSuccessMsg)="showSuccessMsg($event)"
        (showErrorMsg)="showErrorMsg($event)"
        (solrIndicesChange)="solrIndicesChange($event)"
      >
      </app-smui-admin-rules-collection-create>

      <app-smui-admin-rules-collection-list
        (showSuccessMsg)="showSuccessMsg($event)"
        (showErrorMsg)="showErrorMsg($event)"
        (openDeleteConfirmModal)="openDeleteConfirmModal($event)"
        (solrIndicesChange)="solrIndicesChange($event)"
        [adminSolrIndices]="adminSolrIndices"
      >
      </app-smui-admin-rules-collection-list>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
<div class="smui-loading-spinner" *ngIf="!isAdminUser">
  <p class="alert-danger">Only admin users can use this panel!</p>
</div>

<app-smui-confirm-modal
  id="confirm-delete"
  title="Confirm deletion"
  okLabel="Yes"
  cancelLabel="No"
>
  <p>Are you sure you want to delete the item?</p>
</app-smui-confirm-modal>
