<div class="card">
  <div class="card-body">
    <h5 class="card-title">Users</h5>
    <h6 class="card-subtitle mb-2 text-muted">Available Users in SMUI</h6>

    <ul *ngFor="let user of users" class="list-group smui-search-input-list">
        <li
          class="list-group-item"
          [ngClass]="{ 'bg-light font-bolder': currentUser.id == user.id }"
        >
          {{ user.email }} - {{ user.name }}
          <span *ngIf="user.admin"> (Administrator)</span>
          <div class="float-right">
            <button class="btn btn-primary btn-sm"
                    [routerLink]="['/admin/user/', user.id]"
            >Configure</button>
            &nbsp;
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="deleteUser(user.id, $event)"
            >
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
          </div>
        </li>
    </ul>
  </div>
</div>
