<div class="card" *ngIf="user">
  <div class="card-body">
    <h5 class="card-title">Update User</h5>
    <h6 class="card-subtitle mb-2 text-muted">Update the user details</h6>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">email</label>
      <div class="col-sm-10">
        {{user.email}}
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">User Name</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Full Name"
          [(ngModel)]="name"
          (ngModelChange)="nameChange.emit($event)"
          (keyup.enter)="updateUser()"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          [(ngModel)]="password"
          (ngModelChange)="passwordChange.emit($event)"
          (keyup.enter)="updateUser()"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="admin" class="col-sm-2 col-form-label">Administrator?</label>
      <div class="col-sm-1">
        <input
          type="checkbox"
          class="form-control"
          id="admin"
          [(ngModel)]="admin"
          (ngModelChange)="adminChange.emit($event)"
          (keyup.enter)="updateUser()"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="passwordChangeRequired" class="col-sm-2 col-form-label">Password change required?</label>
      <div class="col-sm-1">
        <input
          type="checkbox"
          class="form-control"
          id="passwordChangeRequired"
          [(ngModel)]="passwordChangeRequired"
          (ngModelChange)="passwordChangeRequiredChange.emit($event)"
          (keyup.enter)="updateUser()"
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button
          id="createUserBtn"
          type="button"
          class="btn btn-primary"
          (click)="updateUser()"
          [disabled]="!name || !name.trim()"
        >
          Update User
        </button>
      </div>
    </div>
  </div>
</div>
