<div class="card" *ngIf="team">
  <div class="card-body">
    <h5 class="card-title">Update Team</h5>
    <h6 class="card-subtitle mb-2 text-muted">Update the team details</h6>

    <div class="form-group row">
      <label for="teamName" class="col-sm-2 col-form-label">Team Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="teamName" placeholder="Name of Team" [(ngModel)]="team.name">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button
          id="updateTeamBtn"
          type="button"
          class="btn btn-primary"
          (click)="updateTeam()"
        >
          Update Team
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Rules Collections</h5>
    <h6 class="card-subtitle mb-2 text-muted">Add rules collections to be managed by this team</h6>
    <div class="row col-auto mb-4">
      <label for="addSolrIndex" class="col-sm-2 col-form-label">Rules collection</label>
      <select class="form-select col-3" id="addSolrIndex" [(ngModel)]="addSolrIndexId">
        <option value="DEFAULT" selected>Select a rules collection</option>
        <option *ngFor="let teamSolrIndex of nonTeamSolrIndices" value="{{teamSolrIndex.id}}">{{teamSolrIndex.name}} - {{teamSolrIndex.description}}</option>
      </select>
      &nbsp;&nbsp;&nbsp;
      <button
        type="button"
        class="btn btn-primary btn-sm float-right"
        [disabled]="addSolrIndexId === 'DEFAULT'"
        (click)="addSolrIndexToTeam(addSolrIndexId)"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">Which rules collections belong to this team?</h6>
    <ul class="list-group">
      <li
        *ngFor="let solrIndex of teamSolrIndices"
        [ngClass]="{
          'list-group-item': true,
          'active': false
         }"
      >
        <span class="smui-align-middle list-item-term">{{ solrIndex.name }} - {{ solrIndex.description }}</span>
        <button
          type="button"
          class="btn btn-danger btn-sm float-right"
          (click)="deleteSolrIndexFromTeam(solrIndex.id)"
        >
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Team Membership</h5>
    <h6 class="card-subtitle mb-2 text-muted">Add users to this team by looking them up via their email address</h6>
    <div class="row col-auto mb-4">
      <label for="addEmail" class="col-sm-2 col-form-label">email</label>
      <input type="email" class="form-select col-3" id="addEmail" placeholder="Email Address" [(ngModel)]="addUserEmail"/>
      &nbsp;&nbsp;&nbsp;
      <button
        type="button"
        class="btn btn-primary btn-sm float-right"
        [disabled]="!addUserEmail"
        (click)="addUserEmailToTeam(addUserEmail)"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">Which users belong to this team?</h6>
    <ul class="list-group">
      <li
        *ngFor="let teamUser of teamUsers"
        [ngClass]="{
          'list-group-item': true,
          'active': false
         }"
      >
        <span class="smui-align-middle list-item-term">{{ teamUser.email }} - {{ teamUser.name }}
          <span *ngIf="teamUser.admin"> (Administrator)</span>
        </span>
        <button
          type="button"
          class="btn btn-danger btn-sm float-right"
          (click)="deleteUserFromTeam(teamUser.id)"
        >
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
